/** @format */

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 50px;
  margin-bottom: 20px;
  background-color: rgb(41, 41, 41);
}


.navContentContainer {
  position: relative;
  padding:5px;
  margin-right:10px;
  display: flex;
  width:1270px;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li, .logo {
  padding: 0px 20px;
  list-style: none;
}

li:last-child {
  padding-right: 0;
}

.logo,li a {
  text-decoration: none;
  color: white;
}

.logo {
  font-weight: 800;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartIcon {
  color: #fff;
}

@media screen and (max-width: 350px) {
  .navBar {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
}

@media screen and (max-width: 300px) {
  .logo {
    padding: 2px;
   
  
  }
}
