/** @format */

.navBar {
  display: flex;
  justify-content: center;
  padding: 40px 50px;
  margin-bottom: 20px;
  background-color: rgb(41, 41, 41);
}

.navContentContainer {
  position: relative;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li {
  padding: 0px 20px;
  list-style: none;
}

li:last-child {
  padding-right: 0;
}

li a {
  text-decoration: none;
  color: white;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartIcon {
  color: #fff;
}
