/** @format */

.menuButton {
  cursor: pointer;
}

.menu {
  width: 100%;

  position: absolute;
  top: 100%;
  left: 0;
  border-top: none;
  display: none;
  background-color: #fff;
  z-index: 1000;
}

.menu.open {
  display: flex;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative;
  padding: 5px;
  border-bottom: none;
}

.menu li a {
  position: relative;
  color: black;
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
  }
}
