
.card {
    
    display: flex;
    flex-direction:column; 
    height: 100%;
    
}

.cardImage {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
   

}