/** @format */

.productDetailsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
}

.imageContainer {
  position: relative;
}

img {
  width: 100%;
  border-radius: 10px;
}

.productTextContainer {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.price {
  text-decoration: line-through;
  color: rgb(156, 156, 156);
}

.discountPrice {
  font-size: 24px;
  font-weight: 800;
  color: #0834a5;
}

.productImage {
  width: 100%;
  min-width: 200px;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rating {
  padding-top: 5px;
  padding-bottom: 10px;
}

.descContainer {
  max-width: 300px;
  padding-bottom: 20px;
}

.buttonContainer {
}

.discountBadge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(238, 103, 36);
  color: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;
  font-size: 24px;
}
