/** @format */

.mainContent {
  padding: 0 5px;
}

.productDetailsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  align-items: center;
}

.imageContainer {
  position: relative;
}

img {
  width: 100%;
  border-radius: 10px;
}

.productTextContainer {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  gap: 5px;
}

.productImage {
  width: 100%;
  min-width: 200px;
  max-height: 400px;
  object-fit: cover;
  position: relative;
}

.rating {
  padding-top: 5px;
  padding-bottom: 10px;
}

.descContainer {
  max-width: 300px;
  padding-bottom: 20px;
}

.reviewsContainer {
  margin:10px;
  margin-top: 20px; /* Add some margin at the top */
}

.reviewItem {
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  margin-bottom: 10px; 
}

.reviewItem p {
  margin: 5px 0;
}

.reviewsTitle{
  padding-bottom: 10px;
}

.faded {
  color:#838383;
}

@media screen and (max-width: 300px) {
  .productTextContainer {
    display: flex;
    flex-direction: column;
    padding:0px;
    gap: 5px;
  }
}




