/** @format */

.successMessage {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding:10px;
}

.linkContainer {
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
